.root {
  margin-top: 5rem;
  padding: 4rem;
  background-color: #eee;
  box-shadow: 0.5rem 0.5rem 10rem rgb(172, 169, 169);
  border-radius: 1rem;
}

.heading {
  color: rgb(235, 18, 18);
  font-size: 2.2rem;
  text-transform: capitalize;
}

.stake_body {
  margin-top: 1.5rem;
}

.card_container {
  display: flex;
}

.form {
  margin-top: 1.5rem;
}

.form3 {
  margin-top: 0;
}

.result p {
  margin-bottom: 1.5rem;
  color: #bbb;
}
.result h4 {
  margin-bottom: 0.25rem;
  color: #fff;
}

.address {
  background-color: rgba(1, 6, 37, 0.15);
  padding: 1rem;
  border-radius: 0.3rem;
}

.result {
  margin-top: 1rem;
}

.input {
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: none;
}

.stake_btn {
  padding: 0.8rem 1.2rem;
  border: 0;
  background-color: rgb(5, 27, 20);
  border-radius: 0.3rem;
  margin-left: 1rem;
  width: 6rem;
  color: #fff;
  cursor: pointer;
}

.unstake_btn {
  padding: 0.8rem 1.2rem;
  border: 0;
  background-color: rgb(235, 18, 18);
  border-radius: 0.3rem;
  margin-left: 1rem;
  width: 6rem;
  color: #fff;
  cursor: pointer;
}

.btn_disabled {
  background-color: rgb(168, 164, 164);
  cursor: not-allowed;
}
