.root {
  width: 100%;
  margin: 4rem auto;
  box-shadow: 0.5rem 0.5rem 10rem rgb(172, 169, 169);
  border-radius: 1rem;
}

.table {
  width: 100%;
}

.scroll {
  max-height: 15rem;
  overflow-y: scroll;
}

.table_header {
  background-color: rgb(235, 18, 18);
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.table__head_row {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.table_row {
  background-color: rgb(209, 206, 206);
}

.table_row:nth-child(even) {
  background-color: rgb(240, 239, 239);
}

.table_head_data {
  padding: 1rem;
}

.table_data {
  padding: 1rem;
}

.stake_style {
  background-color: rgb(209, 206, 206);
}

.unstake_style {
  background-color: rgb(240, 239, 239);
}
