.root {
  background-color: rgb(87, 31, 92);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.1rem;
  font-family: ui-monospace;
  color: rgb(226, 236, 233);
}

.logo2 {
  color: rgb(235, 18, 18);
  font-size: 1.6rem;
  -webkit-text-stroke: 0.3px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: rgb(235, 18, 18);
}

.connect_btn {
  background-color: rgb(5, 27, 20);
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
}
